body {
    margin: 0;
    font-family: Arial, sans-serif;
}


/* Navbar */
.navbar {
    background-color: black;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.logo {
    background-color: orange;
    color: white;
    padding: 8px 15px;
    border-radius: 50px;
    font-weight: bold;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}


/* Hero Section */
.hero {
    display: flex;
    padding: 40px;
    align-items: center;
}

.hero-text {
    width: 50%;
}

.hero-text h1 {
    font-size: 40px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
}

.hero-image {
    width: 50%;
    text-align: right;
}

.hero-image img {
    width: 300px;
}


/* Sections */
.about, .services, .pricing, .contact {
    padding: 40px;
}

.price-box {
    margin-top: 20px;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}
