body{
margin:0;
font-family:Arial, sans-serif;
background:#0f172a;
color:white;
line-height:1.6;
}


/* NAVBAR */

.navbar{
display:flex;
flex-direction:column;
align-items:center;
padding:20px;
background:#020617;
}

.logo{
font-size:20px;
font-weight:bold;
background:#22c55e;
padding:6px 16px;
border-radius:20px;
color:black;
margin-bottom:10px;
}

nav a{
color:white;
text-decoration:none;
margin:0 10px;
font-size:14px;
}


/* HERO */

.hero{
text-align:center;
padding:50px 20px;
}

.hero h1{
font-size:34px;
margin-bottom:10px;
}

.hero p{
font-size:16px;
margin-bottom:25px;
}

.hero-image img{
width:140px;
display:block;
margin:auto;
}


/* GENERAL SECTIONS */

.section{
padding:40px 25px;
text-align:center;
}

.section h2{
margin-bottom:15px;
font-size:26px;
}

.section p{
max-width:500px;
margin:auto;
}


/* BOXES */

.box{
margin-top:25px;
padding:15px;
background:#020617;
}

.box h3{
margin-bottom:8px;
}


/* CONTACT */

.email{
display:inline-block;
margin-top:10px;
color:#22c55e;
text-decoration:none;
}


/* FOOTER */

footer{
text-align:center;
padding:20px;
background:#020617;
margin-top:40px;
}
